.square {
    position: relative;

    &::before {
        content: ' ';
        display: block;
        padding-top: 100%;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &--clickable {
        cursor: pointer;
        transition: all 300ms;

        &:hover {
            background: darken($white, 5%);
            transition: all 300ms;
        }
        &:active {
            background: darken($white, 10%);
            transition: all 300ms;
        }
    }
}
